
h1 {
    font-size: 100;
}
.header {
    text-align: center;
    background-image: url("/media/crypto-image.jpg");
    color: rgb(0, 255, 42);
    padding: 5em;
    font-family: cursive;
}
body {
    background-color: cornflowerblue;
}