
h1 {
    font-size: 100;
}
.header {
    text-align: center;
    background-image: url("/media/tesla_model-3-performace-silver.jpg");
    color: blue;
    padding: 5em;
    font-family: cursive;
}
body {
    background-color: cornflowerblue;
}